*{
    margin: 0px;
    padding: 0px;
}
.search-container{
    width: 100vw;
    height: 100px;

}
.search-input{
    box-shadow: 4px 4px 8px gray;
    border: none;
    border-radius: 10px;
    width: 600px;
    height: 35px;
}
.search-btn{
    box-shadow: 4px 4px 8px gray;
    border: none;
    border-radius: 10px;
    width: 75px;
    height: 35px;
    color: black;
    background-color: goldenrod;
}
#userData-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    box-shadow: 4px 4px 8px gray;
    width: 300px;
    height: 350px; 
    padding: 10px;
    margin: 5px;
}
.meal-img{
    box-shadow: 4px 4px 8px 3px gray;
    border-radius: 10px;
    width: 280px;
    height: 75%;
    margin-bottom: 20px;
}
.details{
    box-shadow: 4px 4px 8px gray;
    width: 50vw;
    height: 380px; 
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.details-img{
    box-shadow: 4px 4px 8px 3px gray;
    border-radius: 10px;
    width: 280px;
    height: 280px;
    margin-bottom: 20px;
}
.details-right{
    line-height: 50%;
}